<div class="body">
    
<div class="wrapper">
    <a (click)="pagina('ventas')" class="card card1">
        <i class="fa-solid fa-cart-shopping"></i>
        <h2>Ventas</h2>
        <p>Realiza una nueva venta</p>
    </a>

    <a href="codigos.html" class="card card2">
        <i class="fa-solid fa-barcode"></i>
        <h2>Codigo de barras</h2>
        <p>Genera un codigo de barras</p>
    </a>
   
    <a (click)="pagina('usuarios')" class="card card3">
        <i class="fa-solid fa-universal-access"></i>
        <h2>Usuarios</h2>
        <p>Ingresa a la lista de usuarios</p>
    </a>

    <a (click)="pagina('inventario')" class="card card4">
        <i class="fa-solid fa-clipboard"></i>
        <h2>Inventario</h2>
        <p>Ingresa al inventario</p>
    </a>

</div>
</div>
