<div>
    <div class="usuario-container">
        <h1>Usuarios</h1>
        <form [formGroup]="form" (ngSubmit)="agregarUsuario()">
            <div class="product-form">
                <input type="text"  formControlName="nombre" placeholder="Agregar Empleados">  
                <input type="text"  formControlName="contraseña" placeholder="Contraseña">  
                <input type="text" formControlName="rol" placeholder="Rol">  
          @if (!editado) {
            <button type="submit">Agregar Usuario</button>
          }@else {
            <button type="submit">Editar Usuario</button>
          }
            </div>
           </form>
        <table class="inventory-list">
            <thead>
                <tr>
                    <th>Empleado</th>
                    <th>Rol</th>
                    <th>Acciones</th>
                </tr>
                @for (item of usuarios; track $index){
                  <tr>
                    <td>
                        {{item.nombre}}
                    </td>
                    <td>
                        {{item.rol.descripcion}}
                    </td>
              
                    <td>      
                        <button class="buttonusu" onclick="editarUsuario(item)">Editar Usuario</button>
                        <button class="buttonusu" onclick="toggleUserStatus(item.idUsuario)">Estado Usuario</button></td>
                </tr>  
                }
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
</div>


