
.inventory-list {
    width: 100%;
    border-collapse: collapse;
}
.activo {
  color: green;
}

.inactivo {
  color: red;
}

.usuario-container {
    max-width: 800px;
    margin-top: 80px;
    margin-left: 200px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.inventory-list th,
.inventory-list td {
    padding: 12px;
    border: 1px solid #ccc;
    text-align: left;
}

.inventory-list th {
    background-color: #eee;
}
.usuario-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .product-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .buttonusu {
    color: black;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin: 5px 0;
  }
  
  .buttonusu:hover {
    background-color: #ddd;
  }
  
  .inventory-list {
    width: 100%;
    border-collapse: collapse;
  }
  
  .inventory-list th, .inventory-list td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
  }
  
  .inventory-list th {
    background-color: #f9f9f9;
    font-weight: bold;
  }
  